/* Variable */

$lightRed: #FFAAAA;
$redBlanja: #e3211D;
$darkRedBlanja: #BE1E1E;

$white: #FFF;
$darkWhite: #FAFAFA;
$extra2LightGrey: #f9f9f9;
$extraLightGrey: #EEE;
$lightGrey: #DDD;
$grey: #BBB;
$darkGrey: #999;
$lightBlack: #666;
$black: #333;
$darkBlack: #000;

$blue: #2896f0;
$positive: #78be46;
$negative: #E65050;
$warning: #FF8223;
$lightBlue: #B3D9FF;
$lightPositive: #CFF2B6;
$lightNegative: #FFCDCC;
$lightWarning: #FFDFB3;

$zindex: (
  alert     : 7000,
  modal     : 6000, 
  overlay   : 5000,
  dropdown  : 4000,
  header    : 3000,
  footer    : 2000
);