$tomato : #e3211d;
$warm_grey : #999999;
$sunflower : #fec70f;
$squash : #f39021;
$tomato2 : #ea5a25;
$brownish_grey : #666666;
$black : #333333;
$white : #d7d7d7;
$cream : #fffcca;

$smoothGrey : #f7f7f9;
$greyBorder: #e7e7e7;
$smoothGreyBorder: #d7d7d7;
$greyLabel: #888;
$greyCheckbox: #8c8c8c;

$absWhite: #FFFFFF;
$smoothWhite: #FAFAFA;

$nominalSold: #ecefef;
$nominalSoldNote: #ff1322;