@import 'assets/styles/helpers/mixin';
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato/Lato-regular.eot');
  src: url('../fonts/Lato/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('../fonts/Lato/Lato-regular.woff2') format('woff2'),
       url('../fonts/Lato/Lato-regular.woff') format('woff'),
       url('../fonts/Lato/Lato-regular.ttf') format('truetype'),
       url('../fonts/Lato/Lato-regular.svg#Lato') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Lato/Lato-700.eot');
  src: url('../fonts/Lato/Lato-700.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold'),
       local('Lato-700'),
       url('../fonts/Lato/Lato-700.woff2') format('woff2'),
       url('../fonts/Lato/Lato-700.woff') format('woff'),
       url('../fonts/Lato/Lato-700.ttf') format('truetype'),
       url('../fonts/Lato/Lato-700.svg#Lato') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Lato/Lato-italic.eot');
  src: url('../fonts/Lato/Lato-italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Italic'),
       local('Lato-italic'),
       url('../fonts/Lato/Lato-italic.woff2') format('woff2'),
       url('../fonts/Lato/Lato-italic.woff') format('woff'),
       url('../fonts/Lato/Lato-italic.ttf') format('truetype'),
       url('../fonts/Lato/Lato-italic.svg#Lato') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Lato/Lato-700italic.eot');
  src: url('../fonts/Lato/Lato-700italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold Italic'),
       local('Lato-700italic'),
       url('../fonts/Lato/Lato-700italic.woff2') format('woff2'),
       url('../fonts/Lato/Lato-700italic.woff') format('woff'),
       url('../fonts/Lato/Lato-700italic.ttf') format('truetype'),
       url('../fonts/Lato/Lato-700italic.svg#Lato') format('svg');
}

body{
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background-color: #f7f7f7;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: initial !important;
  overflow-y: initial !important;
}
.clearfix{
  @include clearfix;
}

.w100 {
  width: 100% !important;
}
.relative {
  position: relative;
}
.fLeft{
  float: left;
}
.fRight{
  float: right;
}
.tAlign-center {
  text-align: center;
}
.tAlign-left{
  text-align: left;
}
.tAlign-right{
  text-align: right;
}
.fWeight-bold {
    font-weight: bold;
}
.dNone{
  display: none;
}
.outer{
  display: table;
  width: 100%;
  height: 100%;
}
.inner-v{
  display: table-cell;
  vertical-align: middle;
}
.bgColor-white {
  background-color: #fff;
}
.fSize-12 {
  font-size: 12px;
}
.fSize-14 {
  font-size: 14px;
}
.fSize-16 {
  font-size: 16px;
}
.fSize-18 {
  font-size: 18px;
}
.fSize-20 {
  font-size: 20px;
}
.fSize-22 {
  font-size: 22px;
}
.fSize-24 {
  font-size: 24px;
}
.fSize-26 {
  font-size: 26px;
}
.fSize-28 {
  font-size: 28px;
}
.fColor-dgray {
  color: #666666;
}
.lHeight-18 {
  line-height: 18px;
}
.lHeight-28 {
  line-height: 28px;
}
.lHeight-32 {
  line-height: 32px;
}
.p0 {
  padding: 0px !important;
}
.p5 {
  padding: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pr5 {
  padding-left: 5px !important;
}
.pr10 {
  padding-left: 10px !important;
}
.pr15 {
  padding-left: 15px !important;
}
.pr20 {
  padding-left: 20px !important;
}
.pr25 {
  padding-left: 25px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.mt5{
  margin-top: 5px !important;
}
.mt10{
  margin-top: 10px !important;
}
.mt15{
  margin-top: 15px !important;
}
.mt20{
  margin-top: 20px !important;
}
.mr5{
  margin-right: 5px !important;
}
.mr10{
  margin-right: 10px !important;
}
.mr15{
  margin-right: 15px !important;
}
.mr20{
  margin-right: 20px !important;
}
.ml0{
  margin-left: 0px !important;
}
.mb0{
  margin-bottom: 0px !important;
}
.mb5{
  margin-bottom: 5px !important;
}
.mb10{
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}