<% layout('../../layouts/uikit_v1') %>

<section>
  <h1>Accordion</h1>
    <h2>Accordion</h2>
    <p class="uikit__small-description">Accordion are used to show an instruction or simple message when user hover on trigger element</p>
</section>