<% layout('../../layouts/uikit_v1') %>

<section>
	<h1>Button</h1>
</section>

<section>
  <div>
    <h3>Rules :</h3>
    <ol class="uikit__ordered-list uikit__rules">
      <li>Maximum words for each button is three words beyond conjunction.</li>
    </ol>
  </div>
  <div class="uikit-design blj-container">
    <div>
      <h3>Size</h3>
    </div>
    <div class="row">
      <div class="col-4">
        <button class="btn btn__primary btn__large">Large</button>
      </div>
      <div class="col-4">
        <button class="btn btn__primary">Medium</button>
      </div>
      <div class="col-4">
        <button class="btn btn__primary btn__small">Small</button>
      </div>
    </div>
  </div>
  <div class="uikit-code">
    <p>How to use</p>
    <div class="uikit__small-spacer">
      <p class="uikit__small-description">Import button_v1.scss to working css page</p>
      <code>@import 'dev-src/desktop/styles/components/button_v1';</code>
    </div>
    <code>
      &#60;button class=<span class="uikit-code__vue-variable">"btn btn__primary btn__large"</span>>Large&#60;/button><br/><br/>
      &#60;button class=<span class="uikit-code__vue-variable">"btn btn__primary"</span>>Medium&#60;/button><br/><br/>
      &#60;button class=<span class="uikit-code__vue-variable">"btn btn__primary btn__small"</span>>Small&#60;/button>
    </code>
  </div>
  <div class="uikit-design blj-container">
    <div class="">
      <h3>Style</h3>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row uikit__small-spacer">
          <button class="btn btn__primary">Primary</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__primary-hover">Hovered</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__primary-active">Clicked</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__primary disabled">Disabled</button>
        </div>
      </div>
      <div class="col-4">
        <div class="row uikit__small-spacer">
          <button class="btn btn__secondary">Secondary</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__secondary-hover">Hovered</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__secondary-active">Clicked</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__secondary disabled">Disabled</button>
        </div>
      </div>
      <div class="col-4">
        <div class="row uikit__small-spacer">
          <button class="btn btn__outline">Outline</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__outline-hover">Hovered</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__outline-active">Clicked</button>
        </div>
        <div class="row uikit__small-spacer">
          <button class="btn btn__outline disabled">Disabled</button>
        </div>
      </div>
    </div>
  </div>
  <div class="uikit-code">
    <p class="uikit__small-spacer">How to use</p>
    <div>
      <code>
        &#60;button class=<span class="uikit-code__vue-variable">"btn btn__primary"</span>>Primary&#60;/button><br/><br/>
        &#60;button class=<span class="uikit-code__vue-variable">"btn btn__primary disabled"</span>>Primary Disabled&#60;/button><br/><br/><br/>
        &#60;button class=<span class="uikit-code__vue-variable">"btn btn__secondary"</span>>Secondary&#60;/button><br/><br/>
        &#60;button class=<span class="uikit-code__vue-variable">"btn btn__secondary disabled"</span>>Secondary Disabled&#60;/button><br/><br/><br/>
        &#60;button class=<span class="uikit-code__vue-variable">"btn btn__outline"</span>>Outline&#60;/button><br/><br/>
        &#60;button class=<span class="uikit-code__vue-variable">"btn btn__outline disabled"</span>>Outline Disabled&#60;/button>
      </code>
    </div>
  </div>
</section>