<% layout('../../layouts/uikit_v1') %>

<section>
  <h1>Colors</h1>
</section>
<section>
  <div class="uikit-colors">
    <div class="uikit-colors__wrap">
      <div class="blj-container uikit-colors__boxwrap">
        <div class="row">
          <div class="col-3">
            <div class="uikit-colors__redwrap">
              <h4>Primary Colors</h4>
              <ul class="uikit-colors__list uikit-colors__white">
                <li class="lightRed"><p>LIGHT RED<br><br>#FFAAAA<br>$lightRed</p></li>
                <li class="redBlanja"><p>RED BLANJA<br><br>#e3211D<br>$redBlanja</p></li>
                <li class="darkRedBlanja"><p>DARK RED BLANJA<br><br>#BE1E1E<br>$darkRedBlanja</p></li>
              </ul>
            </div>
          </div>
          <div class="col-9">
            <div class="uikit-colors__blackwrap">
              <h4>Grey Colors</h4>
              <div class="row">
                <div class="col-4">
                  <ul class="uikit-colors__list uikit-colors__red">
                    <li class="darkwhite"><p>DARK WHITE<br><br>#FAFAFA<br>$darkWhite</p></li>
                    <li class="extra2lightgrey"><p>EXTRA EXTRA LIGHT GREY<br><br>#f9f9f9<br>$extra2LightGrey</p></li>
                    <li class="extralightgrey"><p>EXTRA LIGHT GREY<br><br>#EEE<br>$extraLightGrey</p></li>
                    <li class="lightgrey"><p>LIGHT GREY<br><br>#DDD<br>$lightGrey</p></li>
                    <li class="grey"><p>GREY<br><br>#BBB<br>$grey</p></li>
                    <li class="darkgrey"><p>DARK GREY<br><br>#999<br>$darkGrey</p></li>
                    <li class="lightblack"><p>LIGHT BLACK<br><br>#666<br>$lightBlack</p></li>
                    <li class="black"><p>BLACK<br><br>#333<br>$black</p></li>
                  </ul>
                </div>
                <div class="col-8">
                  <ul class="uikit-colors__listdesc">
                    <li>
                      <p>Digunakan untuk background artboard</p>
                    </li>
                    <li>
                      <p>Digunakan untuk background Tab, Backround Judul Section (jika ada) </p>
                    </li>
                    <li>
                      <p>Digunakan untuk background disable (form & button)</p>
                    </li>
                    <li>
                      <p>Digunakan untuk warna semua border & line</p>
                    </li>
                    <li>
                      <p>Digunakan untuk warna placeholder & disable text</p>
                    </li>
                    <li>
                      <p>Digunakan jika dalam satu section dibutuhkan 3 warna grey</p>
                    </li>
                    <li>
                      <p>Digunakan untuk warna Body Text</p>
                    </li>
                    <li>
                      <p>Digunakan untuk semua title</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blj-container uikit-colors__boxwrap">
        <div class="row">
          <div class="col-12">
            <h4>UI Colors</h4>
            <ul class="uikit-colors__listbottom uikit-colors__white">
              <li class="blue"><p>BLUE<br><br>#2896F0<br>$blue</p></li>
              <li class="positive"><p>POSITIVE<br><br>#2896F0<br>$positive</p></li>
              <li class="negative"><p>NEGATIVE<br><br>#E65050<br>$negative</p></li>
              <li class="warning"><p>WARNING<br><br>#FF8223<br>$warning</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blj-container uikit-colors__boxwrap">
        <div class="row">
          <div class="col-12">
            <ul class="uikit-colors__listbottom uikit-colors__red">
              <li class="lightblue"><p>LIGHT BLUE<br><br>#B3D9FF<br>$lightblue</p></li>
              <li class="lightpositive"><p>LIGHT POSITIVE<br><br>#CFF2B6<br>$lightpositive</p></li>
              <li class="lightnegative"><p>LIGHT NEGATIVE<br><br>#FFCDCC<br>$lightnegative</p></li>
              <li class="lightwarning"><p>LIGHT WARNING<br><br>#FFDFB3<br>$lightwarning</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="uikit-code">
    <p>How to use</p>

    <div class="uikit__small-spacer">
      <p class="uikit__small-description">Import tooltips style into your .SCSS file</p>
        <code class="uikit-code__use-example">
          @import <span class="uikit-code__vue-variable">'dev-src/commons/styles/helpers/variable_v1'</span>;
        </code>
    </div>

    <div class="uikit__small-spacer">
        <p class="uikit__small-description">See the code below</p>
      <code>
      <span class="uikit-code__vue-component">color :</span>
      <span class="uikit-code__vue-directives">$lightRed</span>
      <span class="uikit-code__vue-component">;</span>
      </code>
    </div>
  </div>
</section>