<% layout('../../layouts/uikit_v1') %>

<section>
	<h1>Modals</h1>
  <p class="uikit__small-description">MODAL DESCRIPTION</p>
</section>

<section>
  <div class="uikit-design">
    <div class="modals modals__small">
      <p>ini modal</p>
    </div>
    <p class="uikit-design__description">Success/Positive</p>
  </div>

  <div class="uikit-code">
    <p>How to use</p>
    <div class="uikit-code__small-spacer">
      <p class="uikit__small-description">Import toast.js to working js page</p>
      <code class="uikit-code__use-example">
          import <span class="uikit-code__vue-variable">'@/desktop/scripts/components/alert/toast'</span>;
      </code>
    </div>
    <div class="uikit-code__small-spacer">
      <p class="uikit__small-description">Copy below code if use component without API, fill <span class="uikit-code__vue-variable">setStatus()</span> and <span class="uikit-code__vue-variable">toastMessage</span> with "String".</p>
      <code>
          <span class="uikit-code__vue-component">&#60;alert-toast </span>
          <span class="uikit-code__vue-directives">:class=</span>
          <span class="uikit-code__vue-variable">"[toastStatus, toastActive, toastHide]" </span>
          <span class="uikit-code__vue-directives">:message=</span>
          <span class="uikit-code__vue-variable">"toastMessage = 'Ini Isi Pesannya!'" </span>
          <span class="uikit-code__vue-directives">v-on:close-click=</span>
          <span class="uikit-code__vue-variable">"closeToast" </span>
          <span class="uikit-code__vue-component">>&#60;/alert-toast></span>
      </code>
      <p class="uikit__small-description">for <span class="uikit-code__vue-variable">setStatus()</span> have 3 conditions:</p>
      <ul class="uikit__unorderer-list">
        <li>"success"</li>
        <li>"info"</li>
        <li>"error"</li>
      </ul>
    </div>
  </div>
</section>

<section id="alert-toast" class="uikit__component-example">
    <div class="uikit-code__small-spacer">
      <p class="uikit__small-description">Active Alert Toast Example:</p>
      <button @click="alertToast('success','Ini Toast Alert !')">Click Me!</button>
    </div>

    <alert-toast :class="[toastStatus, toastActive, toastHide]" :message="toastMessage" v-on:close-click="closeToast"></alert-toast>
</section>