<% layout('../../layouts/uikit_v1') %>

<section>
  <h1>Typography</h1>
</section>

<section>
	<div class="uikit-typo">
		<div class="uikit-typo__wrap">
			<div class="blj-container uikit-typo__boxwrap">
				<div class="uikit-typo__typeface">
					<h5>Typeface</h5>
					<p class="desc"><b>Source® Sans Pro</b>, Adobe's first open source typeface family, was designed by <b>Paul D. Hunt</b>. It is a sans serif typeface intended to work well in user interfaces<p>
					<div>
						<p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
						<p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
						<p>0 1 2 3 4 5 6 7 8 9</p>
					</div>
				</div>
			</div>
			<div class="blj-container uikit-typo__boxwrap">
				<div class="uikit-typo__fontsize">
					<h5>Font Size</h5>
					<ul>
						<li>
							<p class="eelarge">The quick brown fox jumps over the lazy dog</p>
							<span>40px - Extra Extra Large</span>
						</li>
						<li>
							<p class="elarge">The quick brown fox jumps over the lazy dog</p>
							<span>30px - Extra Large</span>
						</li>
						<li>
							<p class="large">The quick brown fox jumps over the lazy dog</p>
							<span>20px - Large</span>
						</li>
						<li>
							<p class="medium">The quick brown fox jumps over the lazy dog</p>
							<span>16 - Medium</span>
						</li>
						<li>
							<p class="small">The quick brown fox jumps over the lazy dog</p>
							<span>14 - Small</span>
						</li>
						<li>
							<p class="esmall">The quick brown fox jumps over the lazy dog</p>
							<span>12 - Extra Small</span>
						</li>
						<li>
							<p class="eesmall">The quick brown fox jumps over the lazy dog</p>
							<span>10 - Extra Extra Small</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="blj-container uikit-typo__boxwrap">
				<div class="uikit-typo__fontweight">
					<h5>Font Weight</h5>
					<ul>
						<li>
							<p class="reguler">Aa</p>
							<span>Source Sans Regular</span>
						</li>
						<li>
							<p class="italic">Aa</p>
							<span>Source Sans Italic</span>
						</li>
						<li>
							<p class="semibold">Aa</p>
							<span>Source Sans Semibold</span>
						</li>
						<li>
							<p class="bold">Aa</p>
							<span>Source Sans Bold</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>