<% layout('../../layouts/uikit_v1') %>

<div>
	<h1>Grid</h1>	
</div>


<div class="blj-container">
	<div class="row uikit-grid">
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
	</div>
</div>

<div class="blj-container">
	<div class="row uikit-grid">
		<div class="col-4">.col-4</div>
		<div class="col-4">.col-4</div>
		<div class="col-4">.col-4</div>		
	</div>
</div>

<figure>
	<pre>
		<xmp><div class="blj-container">
   <div class="row">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
   </div>
</div>
</xmp>
</pre>
</figure>

<div class="blj-container">
	<div class="row uikit-grid">
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
	</div>
</div>

<figure>
	<pre>
		<xmp><div class="blj-container">
   <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
   </div>
</div>
</xmp>
</pre>
</figure>